#main-container {
    position: absolute;
    z-index: 100;
    right: 0;
    left: 220px !important;
    margin-left: 0px !important;
}
.block-section {
    padding: 20px;
}
.modal-backdrop.in {
    opacity: .75;
}
.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.25);
}
.modal-dialog {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    position: fixed;
    top: 100px;
    right: 0;
    left: 0;
    margin: auto;
    width: -webkit-calc(100% - 20px);
    width: calc(100% - 20px);
    max-width: 620px;
    min-width: 10%;
    min-height: 10%;
    max-height: -webkit-calc(100vh - 100px);
    max-height: calc(100vh - 100px);
    background: #ffffff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    border-radius: 3px;
    overflow-x: hidden;
}
.hide-from-view {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden !important;
}
label.hide-from-view {
    height: 15px !important;
    position: static !important;
}
.table-dropdown {
    position: relative;
    background: #f9f9f9;
    padding: 25px 28px !important;
    border: 1px solid #dcdcdc;
    margin-top: -1px;
}
#sidebar-brand a img {
    width: 150px;
}
.sidebar-visible-lg-mini #sidebar-brand a img {
    margin-left: -7px;
    width: 165px;
}
.page-loading .animated {
    opacity: 0;
}
.animated.fast {
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
}
.nav.navbar-nav-custom > li > button {
    margin-top: 8px;
    margin-right: 20px;
}
.sidebar-nav a.active > .sidebar-nav-indicator, .sidebar-nav a.open > .sidebar-nav-indicator, .sidebar-nav li.active > a > .sidebar-nav-indicator {
    -webkit-transform: rotate(0deg) rotateZ(0deg);
    transform: rotate(0deg) rotateZ(0deg);
}
.home-index-page {
    padding: 10px 0 20px;
    background: url('/assets/sa/img/onboarding-header.jpg') no-repeat center 0;
    min-height: 360px;
}

.welcome-header {
    position: relative;
    margin-top: 40px;
    margin-bottom: 45px;
    text-align: center;
    font-size: 18px;
}

.welcome-header.welcome-header-trial {
    margin-bottom: 215px;
}

.home-cards .next-card {
    line-height: 1.5;
    font-size: 13px;
    position: relative;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #31373d;
    margin-top: 20px;
}

.home-cards .next-card.completed .heading {
    color: #95a7b7;
}

.home-cards .next-card:first-child {
    margin-top: 0px;
}

.home-cards .next-card .next-card-section {
    border-radius: 3px;
    padding: 15px 20px;
}

.home-cards .next-card .callout {
    background-color: #31373d;
    padding: 15px 0;
}

.home-cards .next-card.next-card-notifications .next-card-section {
    border-top: none;
    padding: 15px 20px;
    position: relative;
}

.home-cards .next-card .heading {
    color: #31373d;
    margin: 0 0 20px 0;
    font-weight: 400;
    font-size: 18px;
}

.home-cards .next-card .callout .heading {
    color: white;
    font-size: 15px;
    line-height: 1.5;
    margin-right: 20px;
    margin-left: 20px;
    text-indent: -2em;
    margin-bottom: 0;
}

.navbar-breadcrumb ul {
    overflow: hidden;
    padding-left: 15px;
}

.navbar-breadcrumb ul li {
    float: left;
    list-style: none;
}

.navbar-breadcrumb ul li {
    margin-right: 5px;
}

.navbar-breadcrumb ul li, .navbar-breadcrumb ul li i {
    font-size: 20px;
    line-height: 50px;
}

.navbar-breadcrumb ul li:first-child {
    color: #798c9c;
}

.navbar-breadcrumb ul li.action {
    color: #000000;
}

.section {
    padding: 25px 0;
    border-bottom: 1px solid #d3dbe2;
}

.section:last-of-type, .section:last-child {
    margin-bottom: 10px;
}

form footer {
    padding-bottom: 10px;
}

/**
 * Page loader (Pace)
 */
#sidebar {
    z-index: 99;
}

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    position: relative;
    top: 50px;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    background: #29d;
    position: relative;
    z-index: 98;
    right: 100%;
    width: 100%;
    height: 2px;
    margin-left: 0px;
}

.plan-selection {
    z-index: 19;
    overflow: hidden;
    text-align: center;
    font-weight: normal;
    font-size: 18px;
    position: fixed;
    bottom: 0;
    left: 220px;
    right: 0;
    background: rgba(0, 0, 0, 0.85);
    color: #ffffff;
    height: 84px;
    width: auto;
    -webkit-transition: bottom 200ms ease, -webkit-transform 200ms ease;
    transition: bottom 200ms ease, transform 200ms ease;
}

.plan-selection-message {
    line-height: 84px;
    margin-right: 10px;
}

.card {
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #31373d;
}

.card-aside {
    background-color: #f5f6f7;
}

.card-section {
    padding: 20px;
}

.card.highlight header {
    border-radius: 3px 3px 0 0 !important;
    background-color: #f5f6f7;
    font-size: 18px;
    margin-bottom: 0px;
}

.card.highlight header h3 {
    color: #798c9c;
}

.pricing-tag {
    font-size: 60px;
    color: #479ccf;
    font-weight: normal;
}

.pricing-description {
    padding-left: 20px;
    padding-right: 20px;
    height: 72px;
    margin: 0 auto;
}

.pricing-tag-small {
    font-size: 16px;
    vertical-align: middle;
    margin: 0px 5px;
}

.pricing-img {
    display: block;
    max-width: 100%;
}

.pricing-img.basic {
    width: 97px;
    height: 86px;
    margin: 54px auto 30px auto;
}

.pricing-img.professional {
    width: 128px;
    height: 108px;
    margin: 32px auto 30px auto;
}

.pricing-img.unlimited {
    width: 157px;
    height: 117px;
    margin: 23px auto 30px auto;
}

.setting-summary p {
    font-size: 18px;
    color: #000;
    line-height: 28px;
}

.grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: -webkit-calc(100% - 20px);
    width: calc(100% - 20px);
    margin: 0 auto;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 10px;
}

.grid:last-of-type {
    padding-bottom: 10px;
}

.grid .grid-item {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0%;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
    padding: 10px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 100%;
    min-width: 0;
}

.grid .grid-item-no-flex {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.grid-vertically-centered, .grid-center-both {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.grid.align-end {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.shipping-rate .country {
    border-bottom: 1px solid #ECECEC;
    padding: 4px 0px 3px 0px;
}
.shipping-rate .country strong {
    font-size: 13px;
}
.shipping-rate .country .flag {
    margin-right: 10px;
}
#sidebar-extra-info .gravatar {
    color: #c3cfd8;
    padding: 0 10px 0 20px;
    height: 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: transparent;
}

#sidebar-extra-info .gravatar img {
    margin-left: -5px;
    width: 26px;
    height: 26px;
    min-width: 26px;
}

#sidebar-extra-info .gravatar span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    color: #c3cfd8;
    -webkit-transition: -webkit-transform 200ms ease, opacity 200ms ease;
    transition: transform 200ms ease, opacity 200ms ease;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-basis: 0%;
    -ms-flex-preferred-size: 0%;
    flex-basis: 0%;
    margin-left: 10px;
}

.sidebar-visible-lg-mini #sidebar-extra-info .gravatar {
    padding: 0px;
}
.sidebar-visible-lg-mini #sidebar-extra-info .gravatar img {
    margin-left: -10px;
}
.spacing {
    padding: 20px;
}

.sidebar-nav-header {
    margin-left: -5px;
    margin-top: -5px;
    margin-right: -5px;
    border-bottom: 1px solid #333;
    height: 50px;
    padding-left: 15px;
    line-height: 50px;
}

.sidebar-nav .active > ul, .sidebar-nav .open + ul {
    display: none !important;
}
.sidebar-nav .active > ul, .sidebar-nav .open + ul.show {
    display: block !important;
}
@media screen and (min-width: 992px) {

    #page-container.sidebar-visible-lg-mini #sidebar .sidebar-nav .sidebar-nav-menu.open + ul {
        display: none !important;
    }
    #page-container.sidebar-visible-lg-mini #sidebar .sidebar-nav .sidebar-nav-menu.open + ul.show {
        display: block !important;
    }
    #page-container.sidebar-visible-lg-mini #sidebar .sidebar-nav li {
        position: static;
    }

    #page-container.sidebar-visible-lg-mini #sidebar .sidebar-nav .sidebar-nav-menu + ul {
        position: absolute;
        width: 180px;
        top: 0;
        bottom: 0px;
        right: -180px;
        margin: 0;
        padding: 6px 5px;
        background-color: #363e46;
        z-index: 1;
    }

    #page-container.sidebar-visible-lg-mini header.navbar-fixed-bottom, #page-container.sidebar-visible-lg-mini header.navbar-fixed-top {
        left: 220px;
    }
    #page-container.sidebar-visible-lg-mini #main-container {
        margin-left: 0px !important;
    }

}

/**
 * Flags
 */
.flag {
    width: 16px;
    height: 11px;
    background:url('/assets/sa/img/flags.png') no-repeat;
    display: inline-block;
}

.flag.flag-ad {background-position: -16px 0}
.flag.flag-ae {background-position: -32px 0}
.flag.flag-af {background-position: -48px 0}
.flag.flag-ag {background-position: -64px 0}
.flag.flag-ai {background-position: -80px 0}
.flag.flag-al {background-position: -96px 0}
.flag.flag-am {background-position: -112px 0}
.flag.flag-an {background-position: -128px 0}
.flag.flag-ao {background-position: -144px 0}
.flag.flag-ar {background-position: -160px 0}
.flag.flag-as {background-position: -176px 0}
.flag.flag-at {background-position: -192px 0}
.flag.flag-au {background-position: -208px 0}
.flag.flag-aw {background-position: -224px 0}
.flag.flag-az {background-position: -240px 0}
.flag.flag-ba {background-position: 0 -11px}
.flag.flag-bb {background-position: -16px -11px}
.flag.flag-bd {background-position: -32px -11px}
.flag.flag-be {background-position: -48px -11px}
.flag.flag-bf {background-position: -64px -11px}
.flag.flag-bg {background-position: -80px -11px}
.flag.flag-bh {background-position: -96px -11px}
.flag.flag-bi {background-position: -112px -11px}
.flag.flag-bj {background-position: -128px -11px}
.flag.flag-bm {background-position: -144px -11px}
.flag.flag-bn {background-position: -160px -11px}
.flag.flag-bo {background-position: -176px -11px}
.flag.flag-br {background-position: -192px -11px}
.flag.flag-bs {background-position: -208px -11px}
.flag.flag-bt {background-position: -224px -11px}
.flag.flag-bv {background-position: -240px -11px}
.flag.flag-bw {background-position: 0 -22px}
.flag.flag-by {background-position: -16px -22px}
.flag.flag-bz {background-position: -32px -22px}
.flag.flag-ca {background-position: -48px -22px}
.flag.flag-catalonia {background-position: -64px -22px}
.flag.flag-cd {background-position: -80px -22px}
.flag.flag-cf {background-position: -96px -22px}
.flag.flag-cg {background-position: -112px -22px}
.flag.flag-ch {background-position: -128px -22px}
.flag.flag-ci {background-position: -144px -22px}
.flag.flag-ck {background-position: -160px -22px}
.flag.flag-cl {background-position: -176px -22px}
.flag.flag-cm {background-position: -192px -22px}
.flag.flag-cn {background-position: -208px -22px}
.flag.flag-co {background-position: -224px -22px}
.flag.flag-cr {background-position: -240px -22px}
.flag.flag-cu {background-position: 0 -33px}
.flag.flag-cv {background-position: -16px -33px}
.flag.flag-cw {background-position: -32px -33px}
.flag.flag-cy {background-position: -48px -33px}
.flag.flag-cz {background-position: -64px -33px}
.flag.flag-de {background-position: -80px -33px}
.flag.flag-dj {background-position: -96px -33px}
.flag.flag-dk {background-position: -112px -33px}
.flag.flag-dm {background-position: -128px -33px}
.flag.flag-do {background-position: -144px -33px}
.flag.flag-dz {background-position: -160px -33px}
.flag.flag-ec {background-position: -176px -33px}
.flag.flag-ee {background-position: -192px -33px}
.flag.flag-eg {background-position: -208px -33px}
.flag.flag-eh {background-position: -224px -33px}
.flag.flag-england {background-position: -240px -33px}
.flag.flag-er {background-position: 0 -44px}
.flag.flag-es {background-position: -16px -44px}
.flag.flag-et {background-position: -32px -44px}
.flag.flag-eu {background-position: -48px -44px}
.flag.flag-fi {background-position: -64px -44px}
.flag.flag-fj {background-position: -80px -44px}
.flag.flag-fk {background-position: -96px -44px}
.flag.flag-fm {background-position: -112px -44px}
.flag.flag-fo {background-position: -128px -44px}
.flag.flag-fr {background-position: -144px -44px}
.flag.flag-ga {background-position: -160px -44px}
.flag.flag-gb {background-position: -176px -44px}
.flag.flag-gd {background-position: -192px -44px}
.flag.flag-ge {background-position: -208px -44px}
.flag.flag-gf {background-position: -224px -44px}
.flag.flag-gg {background-position: -240px -44px}
.flag.flag-gh {background-position: 0 -55px}
.flag.flag-gi {background-position: -16px -55px}
.flag.flag-gl {background-position: -32px -55px}
.flag.flag-gm {background-position: -48px -55px}
.flag.flag-gn {background-position: -64px -55px}
.flag.flag-gp {background-position: -80px -55px}
.flag.flag-gq {background-position: -96px -55px}
.flag.flag-gr {background-position: -112px -55px}
.flag.flag-gs {background-position: -128px -55px}
.flag.flag-gt {background-position: -144px -55px}
.flag.flag-gu {background-position: -160px -55px}
.flag.flag-gw {background-position: -176px -55px}
.flag.flag-gy {background-position: -192px -55px}
.flag.flag-hk {background-position: -208px -55px}
.flag.flag-hm {background-position: -224px -55px}
.flag.flag-hn {background-position: -240px -55px}
.flag.flag-hr {background-position: 0 -66px}
.flag.flag-ht {background-position: -16px -66px}
.flag.flag-hu {background-position: -32px -66px}
.flag.flag-ic {background-position: -48px -66px}
.flag.flag-id {background-position: -64px -66px}
.flag.flag-ie {background-position: -80px -66px}
.flag.flag-il {background-position: -96px -66px}
.flag.flag-im {background-position: -112px -66px}
.flag.flag-in {background-position: -128px -66px}
.flag.flag-io {background-position: -144px -66px}
.flag.flag-iq {background-position: -160px -66px}
.flag.flag-ir {background-position: -176px -66px}
.flag.flag-is {background-position: -192px -66px}
.flag.flag-it {background-position: -208px -66px}
.flag.flag-je {background-position: -224px -66px}
.flag.flag-jm {background-position: -240px -66px}
.flag.flag-jo {background-position: 0 -77px}
.flag.flag-jp {background-position: -16px -77px}
.flag.flag-ke {background-position: -32px -77px}
.flag.flag-kg {background-position: -48px -77px}
.flag.flag-kh {background-position: -64px -77px}
.flag.flag-ki {background-position: -80px -77px}
.flag.flag-km {background-position: -96px -77px}
.flag.flag-kn {background-position: -112px -77px}
.flag.flag-kp {background-position: -128px -77px}
.flag.flag-kr {background-position: -144px -77px}
.flag.flag-kurdistan {background-position: -160px -77px}
.flag.flag-kw {background-position: -176px -77px}
.flag.flag-ky {background-position: -192px -77px}
.flag.flag-kz {background-position: -208px -77px}
.flag.flag-la {background-position: -224px -77px}
.flag.flag-lb {background-position: -240px -77px}
.flag.flag-lc {background-position: 0 -88px}
.flag.flag-li {background-position: -16px -88px}
.flag.flag-lk {background-position: -32px -88px}
.flag.flag-lr {background-position: -48px -88px}
.flag.flag-ls {background-position: -64px -88px}
.flag.flag-lt {background-position: -80px -88px}
.flag.flag-lu {background-position: -96px -88px}
.flag.flag-lv {background-position: -112px -88px}
.flag.flag-ly {background-position: -128px -88px}
.flag.flag-ma {background-position: -144px -88px}
.flag.flag-mc {background-position: -160px -88px}
.flag.flag-md {background-position: -176px -88px}
.flag.flag-me {background-position: -192px -88px}
.flag.flag-mg {background-position: -208px -88px}
.flag.flag-mh {background-position: -224px -88px}
.flag.flag-mk {background-position: -240px -88px}
.flag.flag-ml {background-position: 0 -99px}
.flag.flag-mm {background-position: -16px -99px}
.flag.flag-mn {background-position: -32px -99px}
.flag.flag-mo {background-position: -48px -99px}
.flag.flag-mp {background-position: -64px -99px}
.flag.flag-mq {background-position: -80px -99px}
.flag.flag-mr {background-position: -96px -99px}
.flag.flag-ms {background-position: -112px -99px}
.flag.flag-mt {background-position: -128px -99px}
.flag.flag-mu {background-position: -144px -99px}
.flag.flag-mv {background-position: -160px -99px}
.flag.flag-mw {background-position: -176px -99px}
.flag.flag-mx {background-position: -192px -99px}
.flag.flag-my {background-position: -208px -99px}
.flag.flag-mz {background-position: -224px -99px}
.flag.flag-na {background-position: -240px -99px}
.flag.flag-nc {background-position: 0 -110px}
.flag.flag-ne {background-position: -16px -110px}
.flag.flag-nf {background-position: -32px -110px}
.flag.flag-ng {background-position: -48px -110px}
.flag.flag-ni {background-position: -64px -110px}
.flag.flag-nl {background-position: -80px -110px}
.flag.flag-no {background-position: -96px -110px}
.flag.flag-np {background-position: -112px -110px}
.flag.flag-nr {background-position: -128px -110px}
.flag.flag-nu {background-position: -144px -110px}
.flag.flag-nz {background-position: -160px -110px}
.flag.flag-om {background-position: -176px -110px}
.flag.flag-pa {background-position: -192px -110px}
.flag.flag-pe {background-position: -208px -110px}
.flag.flag-pf {background-position: -224px -110px}
.flag.flag-pg {background-position: -240px -110px}
.flag.flag-ph {background-position: 0 -121px}
.flag.flag-pk {background-position: -16px -121px}
.flag.flag-pl {background-position: -32px -121px}
.flag.flag-pm {background-position: -48px -121px}
.flag.flag-pn {background-position: -64px -121px}
.flag.flag-pr {background-position: -80px -121px}
.flag.flag-ps {background-position: -96px -121px}
.flag.flag-pt {background-position: -112px -121px}
.flag.flag-pw {background-position: -128px -121px}
.flag.flag-py {background-position: -144px -121px}
.flag.flag-qa {background-position: -160px -121px}
.flag.flag-re {background-position: -176px -121px}
.flag.flag-ro {background-position: -192px -121px}
.flag.flag-rs {background-position: -208px -121px}
.flag.flag-ru {background-position: -224px -121px}
.flag.flag-rw {background-position: -240px -121px}
.flag.flag-sa {background-position: 0 -132px}
.flag.flag-sb {background-position: -16px -132px}
.flag.flag-sc {background-position: -32px -132px}
.flag.flag-scotland {background-position: -48px -132px}
.flag.flag-sd {background-position: -64px -132px}
.flag.flag-se {background-position: -80px -132px}
.flag.flag-sg {background-position: -96px -132px}
.flag.flag-sh {background-position: -112px -132px}
.flag.flag-si {background-position: -128px -132px}
.flag.flag-sk {background-position: -144px -132px}
.flag.flag-sl {background-position: -160px -132px}
.flag.flag-sm {background-position: -176px -132px}
.flag.flag-sn {background-position: -192px -132px}
.flag.flag-so {background-position: -208px -132px}
.flag.flag-somaliland {background-position: -224px -132px}
.flag.flag-sr {background-position: -240px -132px}
.flag.flag-ss {background-position: 0 -143px}
.flag.flag-st {background-position: -16px -143px}
.flag.flag-sv {background-position: -32px -143px}
.flag.flag-sx {background-position: -48px -143px}
.flag.flag-sy {background-position: -64px -143px}
.flag.flag-sz {background-position: -80px -143px}
.flag.flag-tc {background-position: -96px -143px}
.flag.flag-td {background-position: -112px -143px}
.flag.flag-tf {background-position: -128px -143px}
.flag.flag-tg {background-position: -144px -143px}
.flag.flag-th {background-position: -160px -143px}
.flag.flag-tibet {background-position: -176px -143px}
.flag.flag-tj {background-position: -192px -143px}
.flag.flag-tk {background-position: -208px -143px}
.flag.flag-tl {background-position: -224px -143px}
.flag.flag-tm {background-position: -240px -143px}
.flag.flag-tn {background-position: 0 -154px}
.flag.flag-to {background-position: -16px -154px}
.flag.flag-tr {background-position: -32px -154px}
.flag.flag-tt {background-position: -48px -154px}
.flag.flag-tv {background-position: -64px -154px}
.flag.flag-tw {background-position: -80px -154px}
.flag.flag-tz {background-position: -96px -154px}
.flag.flag-ua {background-position: -112px -154px}
.flag.flag-ug {background-position: -128px -154px}
.flag.flag-um {background-position: -144px -154px}
.flag.flag-us {background-position: -160px -154px}
.flag.flag-uy {background-position: -176px -154px}
.flag.flag-uz {background-position: -192px -154px}
.flag.flag-va {background-position: -208px -154px}
.flag.flag-vc {background-position: -224px -154px}
.flag.flag-ve {background-position: -240px -154px}
.flag.flag-vg {background-position: 0 -165px}
.flag.flag-vi {background-position: -16px -165px}
.flag.flag-vn {background-position: -32px -165px}
.flag.flag-vu {background-position: -48px -165px}
.flag.flag-wales {background-position: -64px -165px}
.flag.flag-wf {background-position: -80px -165px}
.flag.flag-ws {background-position: -96px -165px}
.flag.flag-xk {background-position: -112px -165px}
.flag.flag-ye {background-position: -128px -165px}
.flag.flag-yt {background-position: -144px -165px}
.flag.flag-za {background-position: -160px -165px}
.flag.flag-zanzibar {background-position: -176px -165px}
.flag.flag-zm {background-position: -192px -165px}
.flag.flag-zw {background-position: -208px -165px}