/* Add here all your CSS customizations */

.js-section-loading>h1:before {
    content: '';
    position: absolute;
    top: auto;
    bottom: -20px;
    left: 50%;
    height: 3px;
    width: 30px;
    margin-left: -15px;
    display: block;
    background-color: #387bad;
}

.js-section-loading > h1 {
    margin: 0 0.66667em 1.2em 0.66667em;
    position: relative;
}

.js-section-loading > p.enter {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.js-section-loading > p.exit {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.js-section-loading > p {
    font-family: "Brandon", Helvetica, Arial, sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: auto;
    font-size: 1.5em;
    margin-bottom: 0.75em;
    line-height: inherit;
    font-weight: 300;
    color: #30373b;
}

.js-section-loading > p {
    margin: 0;
    color: #949494;
    position: absolute;
    opacity: 0;
    width: 100%;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    -webkit-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
}
.wait-page-error {
    display: none;
}
.wait-page-error.active {
    display: block;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
@-webkit-keyframes spin-back{
    0%{
        -webkit-transform:rotate(360deg)
    }
    100%{
        -webkit-transform:rotate(0deg)
    }
}

@keyframes spin-back{
    0%{
        -webkit-transform:rotate(360deg);
        transform:rotate(360deg)
    }
    100%{
        -webkit-transform:rotate(0deg);transform:rotate(0deg)
    }
}

.b-form__window {
    background: #FFFFFF;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0);
}

.signup-wrapper {
    background: #fff;
    margin-top: 60px;
}
.signup-wrapper .b-form__window {
    margin: 0px auto;
    max-width: 870px;
    position: relative;
}
.signup-wrapper .b-form__window header {
    text-align: center;
    padding: 50px 30px;
}

.signup-wrapper .b-form__window .b-form__window-inner {
    padding: 0 60px 15px 60px;
    display: block;
}