body {
    font-family: "Open Sans" Verdana;
}

h3 {
    color: #387bad;
}
header nav {
    height: 55px;
}

header nav > ul {
    display: block;
    float: left;
    margin: 0px;
}

header nav > ul > li {
    float: left;
    list-style: none;
    line-height: 55px;
}

header nav > ul > li a {
    color: #000000;
    padding-left: 15px;
}

header nav > ul li:first-child > a {
    padding-left: 0;
}

header nav > ul li:last-child > a {
    padding-right: 0;
}

.page-section {
    padding-top: 90px;
    margin-bottom: 2.25em;
}
.page-section header {
    margin-bottom: 2.25em;
}
.page-section h1 {
    position: relative;
    margin-bottom: 35px;
}

.page-section h1:before {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 50%;
    height: 3px;
    width: 30px;
    margin-left: -15px;
    display: block;
    background-color: #387bad;
}

.grid {
    position: relative;
}

.grid .grid-item {
    float: left;
    padding: 0px;
}

.pricing-item:nth-child(3n+1) {
    clear: left;
}

.pricing-item {
    position: relative;
    border: 1px solid #e5e5e5;
    text-align: center;
    border-radius: 3px;
    border-width: 1px;
    -webkit-transition: border-color 300ms;
    -moz-transition: border-color 300ms;
    transition: border-color 300ms;
}

.pricing-item header {
    padding: 2.8125em 1.875em 1.875em;
    background: #f9fafa;
}

.pricing-item h3 {
    -webkit-font-smoothing: antialiased;
    display: block;
    margin-bottom: 0.46154em;
    color: #30373b;
    font-size: 0.8125em;
    line-height: inherit;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.pricing-item header h4 {
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    display: block;
    margin-bottom: 0.46154em;
    color: #30373b;
    font-size: 0.8125em;
    line-height: inherit;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.pricing-item header ul {
    padding: 0px;
}

.pricing-item header ul li {
    list-style: none;
    text-align: center;
    margin-bottom: 0.53333em;
}

.pricing-item .pricing-item-price {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 20px;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    font-size: 4.5em;
    line-height: 1em;
    color: #000;
}

.pricing-item .pricing-item-price > sup {
    font-weight: 500;
    font-size: 0.30556em;
    line-height: 2.04545em;
    vertical-align: top;
}

.pricing-item .pricing-item-price > span {
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    font-size: 0.33333em;
}

.pricing-item .pricing-item-popular {
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    top: -22px;
    left: -1px;
    right: -1px;
    height: 44px;
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 3px 3px 0 0;
    line-height: 44px;
    color: #387bad;
}

#header-overview {
    background: #387bad;
    text-align: center;
    padding: 3.75em 0 0px;
    margin-bottom: 3.75em;
}

#header-overview h1 {
    color: #ffffff;
    margin-bottom: 35px;
}

#header-overview img {
    margin: 0px auto -51px;
}

.marketing-form input, .marketing-form button {
    height: 3em;
}

.heading-1 {
    font-size: 1.875em;
    margin-bottom: 0.8em;
}

.differential__gear--large,
.differential__gear--medium,
.differential__gear--small {
    position: absolute;
    background-size: contain;
    background: no-repeat 0 0;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    -webkit-animation-name: spin;
    animation-name: spin;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

.differential {
    position: relative;
    width: 148px;
    height: 147px;
    margin: 1.25em auto 2.5em auto;
}

.differential__gear--large {
    background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20id%3D%22Layer_1%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%2058.7%2058.7%22%20enable-background%3D%22new%200%200%2058.7%2058.7%22%20xml%3Aspace%3D%22preserve%22%3E%3Cg%3E%3Cpath%20fill%3D%22%23387bad%22%20d%3D%22M39.1%2C29.7c0-5.4-4.4-9.8-9.8-9.8s-9.8%2C4.4-9.8%2C9.8s4.4%2C9.8%2C9.8%2C9.8S39.1%2C35%2C39.1%2C29.7z%20M21.6%2C29.7%20%20%20c0-4.3%2C3.5-7.8%2C7.8-7.8c4.3%2C0%2C7.8%2C3.5%2C7.8%2C7.8c0%2C4.3-3.5%2C7.8-7.8%2C7.8C25%2C37.4%2C21.6%2C33.9%2C21.6%2C29.7z%22%2F%3E%3Cpath%20fill%3D%22%23387bad%22%20d%3D%22M17.4%2C33.1c-0.2-0.5-0.7-0.8-1.2-0.7c-0.5%2C0.2-0.8%2C0.7-0.7%2C1.2c0.6%2C2%2C1.6%2C3.8%2C2.9%2C5.4%20%20%20c0.2%2C0.2%2C0.5%2C0.3%2C0.8%2C0.3c0.2%2C0%2C0.5-0.1%2C0.7-0.2c0.4-0.4%2C0.5-1%2C0.1-1.4C18.8%2C36.4%2C17.9%2C34.8%2C17.4%2C33.1z%22%2F%3E%3Cpath%20fill%3D%22%23387bad%22%20d%3D%22M42.7%2C30.8c-0.5-0.1-1.1%2C0.3-1.1%2C0.8c-0.5%2C3.3-2.3%2C6.1-5%2C8.1c-2.7%2C1.9-6%2C2.7-9.2%2C2.2%20%20%20c-0.5-0.1-1.1%2C0.3-1.1%2C0.8c-0.1%2C0.5%2C0.3%2C1.1%2C0.8%2C1.1c0.8%2C0.1%2C1.5%2C0.2%2C2.3%2C0.2c3%2C0%2C5.9-0.9%2C8.4-2.7c3.1-2.3%2C5.2-5.6%2C5.8-9.4%20%20%20C43.6%2C31.4%2C43.3%2C30.9%2C42.7%2C30.8z%22%2F%3E%3Cpath%20fill%3D%22%23387bad%22%20d%3D%22M53.8%2C22.7l-2.1-0.4c-0.4-1.3-0.9-2.6-1.6-3.8l1.2-1.7c1.9-2%2C1.9-5.1-0.1-7l-2.4-2.4C48%2C6.5%2C46.7%2C6%2C45.4%2C6%20%20%20c-1.3%2C0-2.5%2C0.5-3.5%2C1.4l-1.7%2C1.2c-1.2-0.6-2.5-1.2-3.8-1.6L36%2C4.8l0-0.1c-0.6-2-1.8-4.7-5-4.7h-3.3c-2.7%2C0-4.3%2C1.5-5%2C4.8L22.3%2C7%20%20%20c-1.3%2C0.4-2.6%2C0.9-3.8%2C1.6l-1.7-1.2C15.8%2C6.4%2C14.6%2C6%2C13.3%2C6C12%2C6%2C10.7%2C6.5%2C9.8%2C7.4L7.4%2C9.8c-1.9%2C1.9-1.9%2C5.1-0.1%2C7l1.2%2C1.7%20%20%20C7.9%2C19.7%2C7.4%2C21%2C7%2C22.3l-2.1%2C0.4c-2.7%2C0-4.9%2C2.3-4.9%2C5V31c0%2C2.7%2C2.2%2C4.9%2C4.9%2C5L7%2C36.4c0.4%2C1.3%2C0.9%2C2.6%2C1.6%2C3.8l-1.2%2C1.7%20%20%20c-1.9%2C2-1.9%2C5.1%2C0.1%2C7l2.4%2C2.4c0.9%2C0.9%2C2.2%2C1.5%2C3.5%2C1.5c1.3%2C0%2C2.5-0.5%2C3.5-1.4l1.7-1.2c1.2%2C0.6%2C2.5%2C1.2%2C3.8%2C1.6l0.4%2C2.1%20%20%20c0.7%2C4%2C3.1%2C4.8%2C5%2C4.8H31c2.7%2C0%2C4.3-1.6%2C5-4.8l0.4-2.2c1.3-0.4%2C2.6-0.9%2C3.8-1.6l1.7%2C1.2c0.9%2C0.9%2C2.2%2C1.4%2C3.5%2C1.4%20%20%20c1.3%2C0%2C2.6-0.5%2C3.5-1.5l2.4-2.4c1.9-1.9%2C1.9-5.1%2C0.1-7l-1.2-1.7c0.6-1.2%2C1.2-2.5%2C1.6-3.8l2.1-0.4c2.7%2C0%2C4.9-2.3%2C4.9-5v-3.3%20%20%20C58.7%2C24.9%2C56.5%2C22.7%2C53.8%2C22.7z%20M56.7%2C31c0%2C1.7-1.3%2C3-3%2C3l-3.6%2C0.6l-0.2%2C0.6c-0.5%2C1.6-1.1%2C3.1-1.9%2C4.5l-0.3%2C0.5l2%2C2.8l0.1%2C0.1%20%20%20c1.2%2C1.2%2C1.2%2C3.1%2C0%2C4.2l-2.4%2C2.4c-1.1%2C1.1-3.1%2C1.1-4.2%2C0l-3-2.1l-0.5%2C0.3c-1.4%2C0.8-2.9%2C1.4-4.5%2C1.9l-0.6%2C0.2L34%2C53.5%20%20%20c-0.6%2C2.8-1.8%2C3.2-3%2C3.2h-3.3c-1.2%2C0-2.6-0.4-3-3.2l-0.6-3.4l-0.6-0.2c-1.6-0.5-3.1-1.1-4.5-1.9l-0.5-0.3l-2.8%2C2l-0.1%2C0.1%20%20%20c-1.1%2C1.1-3.1%2C1.1-4.2%2C0l-2.4-2.4c-1.2-1.2-1.2-3.1%2C0-4.2l2.1-2.9l-0.3-0.5c-0.8-1.4-1.4-3-1.9-4.5l-0.2-0.6L5.2%2C34L5%2C34%20%20%20c-1.7%2C0-3-1.3-3-3v-3.3c0-1.7%2C1.3-3%2C3-3L8.6%2C24l0.2-0.6c0.5-1.6%2C1.1-3.1%2C1.9-4.5l0.3-0.6l-2-2.8l-0.1-0.1c-1.2-1.2-1.2-3.1%2C0-4.2%20%20%20l2.4-2.4c1.1-1.1%2C3.1-1.1%2C4.2%2C0l2.9%2C2.1l0.5-0.3c1.4-0.8%2C2.9-1.4%2C4.5-1.9l0.6-0.2l0.6-3.3c0.6-2.7%2C1.5-3.2%2C3-3.2H31%20%20%20c1.4%2C0%2C2.3%2C0.9%2C3%2C3.2l0.6%2C3.3l0.6%2C0.2c1.6%2C0.4%2C3.1%2C1.1%2C4.5%2C1.9l0.5%2C0.3l2.8-2l0.1-0.1c1.1-1.1%2C3.1-1.1%2C4.2%2C0l2.4%2C2.4%20%20%20c1.2%2C1.2%2C1.2%2C3.1%2C0%2C4.2l-2.1%2C3l0.3%2C0.5c0.8%2C1.4%2C1.4%2C2.9%2C1.9%2C4.5l0.2%2C0.6l3.4%2C0.6l0.2%2C0c1.7%2C0%2C3%2C1.3%2C3%2C3V31z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E);
    width: 89px;
    height: 89px;
    left: 60px;
    top: 0;
}

.differential__gear--medium {
    background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20id%3D%22Layer_1%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%2046%2046%22%20enable-background%3D%22new%200%200%2046%2046%22%20xml%3Aspace%3D%22preserve%22%3E%3Cg%3E%3Cpath%20fill%3D%22%23387bad%22%20d%3D%22M17.9%2C14.8c0.2%2C0%2C0.3%2C0%2C0.5-0.1c1.4-0.7%2C2.9-1.1%2C4.5-1.1c0.6%2C0%2C1-0.4%2C1-1s-0.4-1-1-1%20%20%20c-1.9%2C0-3.8%2C0.5-5.4%2C1.3c-0.5%2C0.3-0.7%2C0.9-0.4%2C1.4C17.2%2C14.6%2C17.6%2C14.8%2C17.9%2C14.8z%22%2F%3E%3Cpath%20fill%3D%22%23387bad%22%20d%3D%22M33.5%2C22.3c-0.6%2C0-1%2C0.4-1%2C1c0%2C5.3-4.3%2C9.7-9.7%2C9.7c-3.7%2C0-7-2.1-8.7-5.4c-0.7-1.3-1-2.8-1-4.3%20%20%20c0-0.6-0.4-1-1-1s-1%2C0.4-1%2C1c0%2C1.8%2C0.4%2C3.5%2C1.2%2C5.1c2%2C4%2C6%2C6.5%2C10.5%2C6.5c6.4%2C0%2C11.7-5.2%2C11.7-11.7C34.5%2C22.7%2C34.1%2C22.3%2C33.5%2C22.3z%22%2F%3E%3Cpath%20fill%3D%22%23387bad%22%20d%3D%22M22.9%2C30.1c3.8%2C0%2C6.8-3.1%2C6.8-6.8s-3.1-6.8-6.8-6.8s-6.8%2C3.1-6.8%2C6.8S19.1%2C30.1%2C22.9%2C30.1z%20M22.9%2C18.4%20%20%20c2.7%2C0%2C4.8%2C2.2%2C4.8%2C4.8c0%2C2.7-2.2%2C4.8-4.8%2C4.8s-4.8-2.2-4.8-4.8C18.1%2C20.6%2C20.2%2C18.4%2C22.9%2C18.4z%22%2F%3E%3Cpath%20fill%3D%22%23387bad%22%20d%3D%22M42.1%2C17.6l-1.5-0.3c-0.3-0.9-0.7-1.9-1.1-2.7l0.8-1.2c0.7-0.8%2C1.1-1.8%2C1.1-2.8c0-1.1-0.4-2.1-1.2-2.9%20%20%20l-1.8-1.8c-0.8-0.8-1.8-1.2-2.9-1.2c-1.1%2C0-2.1%2C0.4-2.8%2C1.1l-1.2%2C0.8c-0.9-0.4-1.8-0.8-2.7-1.1L28.4%2C4c-0.1-2.2-1.9-4-4.1-4h-2.6%20%20%20c-2.2%2C0-4.1%2C1.8-4.1%2C4l-0.3%2C1.5c-0.9%2C0.3-1.9%2C0.7-2.7%2C1.1l-1.2-0.8c-0.8-0.7-1.8-1.1-2.8-1.1C9.5%2C4.6%2C8.4%2C5%2C7.7%2C5.8L5.8%2C7.7%20%20%20C5%2C8.4%2C4.6%2C9.5%2C4.6%2C10.6c0%2C1.1%2C0.4%2C2.1%2C1.1%2C2.8l0.8%2C1.2c-0.4%2C0.9-0.8%2C1.8-1.1%2C2.7l-1.5%2C0.3l-0.1%2C0C2.9%2C17.9%2C0%2C18.8%2C0%2C21.7v2.6%20%20%20c0%2C2.9%2C2.1%2C3.7%2C3.9%2C4.1l1.5%2C0.3c0.3%2C0.9%2C0.7%2C1.9%2C1.1%2C2.7l-0.8%2C1.2c-0.7%2C0.8-1.1%2C1.8-1.1%2C2.8c0%2C1.1%2C0.4%2C2.1%2C1.2%2C2.9l1.8%2C1.8%20%20%20c0.8%2C0.8%2C1.8%2C1.2%2C2.9%2C1.2c1.1%2C0%2C2.1-0.4%2C2.8-1.1l1.2-0.9c0.9%2C0.5%2C1.8%2C0.8%2C2.7%2C1.1l0.3%2C1.5c0.1%2C2.2%2C1.9%2C4%2C4.1%2C4h2.6%20%20%20c2.2%2C0%2C4.1-1.8%2C4.1-4l0.3-1.5c0.9-0.3%2C1.9-0.7%2C2.7-1.1l1.2%2C0.8c0.8%2C0.7%2C1.8%2C1.1%2C2.8%2C1.1c1.1%2C0%2C2.1-0.4%2C2.9-1.2l1.8-1.8%20%20%20c0.8-0.8%2C1.2-1.8%2C1.2-2.9c0-1.1-0.4-2.1-1.1-2.8l-0.8-1.2c0.5-0.9%2C0.8-1.8%2C1.1-2.7l1.5-0.3c3.4-0.6%2C3.9-2.8%2C3.9-4.1v-2.6%20%20%20C46%2C19.5%2C44.7%2C18.2%2C42.1%2C17.6z%20M44%2C24.3c0%2C0.9-0.3%2C1.8-2.3%2C2.1L39%2C26.9l-0.2%2C0.6c-0.3%2C1.2-0.8%2C2.4-1.4%2C3.5L37%2C31.5l1.6%2C2.3l0.1%2C0.1%20%20%20c0.4%2C0.4%2C0.6%2C0.9%2C0.6%2C1.5s-0.2%2C1.1-0.6%2C1.5l-1.8%2C1.8c-0.8%2C0.8-2.2%2C0.8-3%2C0L31.5%2C37L31%2C37.3c-1.1%2C0.6-2.3%2C1.1-3.5%2C1.4L26.9%2C39%20%20%20l-0.5%2C2.8l0%2C0.2c0%2C1.2-0.9%2C2.1-2.1%2C2.1h-2.6c-1.2%2C0-2.1-0.9-2.1-2.1L19.1%2C39l-0.6-0.2c-1.2-0.3-2.4-0.8-3.5-1.4L14.5%2C37l-2.3%2C1.6%20%20%20L12%2C38.8c-0.8%2C0.8-2.2%2C0.8-3%2C0l-1.8-1.8c-0.4-0.4-0.6-0.9-0.6-1.5s0.2-1.1%2C0.6-1.5L9%2C31.5L8.6%2C31c-0.6-1.1-1.1-2.3-1.4-3.5L7%2C26.9%20%20%20l-2.7-0.5C2.2%2C26%2C2%2C25.2%2C2%2C24.3v-2.6c0-0.7%2C0.3-1.5%2C2.3-2.1L7%2C19.1l0.2-0.6C7.6%2C17.3%2C8%2C16.1%2C8.6%2C15l0.3-0.5l-1.6-2.3L7.2%2C12%20%20%20c-0.4-0.4-0.6-0.9-0.6-1.5s0.2-1.1%2C0.6-1.5l1.8-1.8c0.8-0.8%2C2.2-0.8%2C3%2C0l2.4%2C1.7L15%2C8.6c1.1-0.6%2C2.3-1.1%2C3.5-1.4L19.1%2C7l0.5-2.8%20%20%20l0-0.2c0-1.2%2C0.9-2.1%2C2.1-2.1h2.6c1.2%2C0%2C2.1%2C0.9%2C2.1%2C2.1L26.9%2C7l0.6%2C0.2C28.7%2C7.6%2C29.9%2C8%2C31%2C8.6L31.5%2C9l2.3-1.6L34%2C7.2%20%20%20c0.8-0.8%2C2.2-0.8%2C3%2C0l1.8%2C1.8c0.4%2C0.4%2C0.6%2C0.9%2C0.6%2C1.5s-0.2%2C1.1-0.6%2C1.5l-1.7%2C2.4l0.3%2C0.5c0.6%2C1.1%2C1.1%2C2.3%2C1.4%2C3.5l0.2%2C0.6l2.7%2C0.5%20%20%20c2.1%2C0.5%2C2.3%2C1.3%2C2.3%2C2.1V24.3z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E);
    width: 69px;
    height: 69px;
    left: 0;
    top: 52px;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-animation-name: spin-back;
    animation-name: spin-back;
}

.differential__gear--small {
    background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20id%3D%22Layer_1%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%2033.7%2033.7%22%20enable-background%3D%22new%200%200%2033.7%2033.7%22%20xml%3Aspace%3D%22preserve%22%3E%3Cg%3E%3Cpath%20fill%3D%22%23387bad%22%20d%3D%22M24.5%2C15.8c-0.6%2C0-1%2C0.4-1%2C1c0%2C3.7-3%2C6.7-6.7%2C6.7c-1.3%2C0-2.5-0.4-3.6-1.1c-0.5-0.3-1.1-0.2-1.4%2C0.3%20%20%20c-0.3%2C0.5-0.2%2C1.1%2C0.3%2C1.4c1.4%2C0.9%2C3%2C1.4%2C4.7%2C1.4c4.8%2C0%2C8.7-3.9%2C8.7-8.7C25.5%2C16.3%2C25.1%2C15.8%2C24.5%2C15.8z%22%2F%3E%3Cpath%20fill%3D%22%23387bad%22%20d%3D%22M30.6%2C12.7l-1-0.2c-0.2-0.6-0.4-1.1-0.7-1.7l0.5-0.7c1.2-1.3%2C1.2-3.3-0.1-4.5l-1.3-1.3%20%20%20c-1.2-1.2-3.3-1.2-4.5-0.1l-0.7%2C0.5c-0.5-0.3-1.1-0.5-1.7-0.7L21%2C3.1C20.9%2C1.4%2C19.5%2C0%2C17.8%2C0h-1.9c-1.8%2C0-3.2%2C1.4-3.2%2C3.1L12.5%2C4%20%20%20c-0.6%2C0.2-1.1%2C0.4-1.7%2C0.7l-0.7-0.5C8.9%2C3%2C6.8%2C3.1%2C5.6%2C4.3L4.3%2C5.6C3%2C6.8%2C3%2C8.8%2C4.2%2C10.1l0.5%2C0.7c-0.3%2C0.5-0.5%2C1.1-0.7%2C1.7%20%20%20l-0.9%2C0.2l-0.1%2C0C2.2%2C12.9%2C0%2C13.6%2C0%2C15.9v1.9c0%2C2.3%2C1.7%2C2.9%2C3.1%2C3.2L4%2C21.2c0.2%2C0.6%2C0.4%2C1.1%2C0.7%2C1.7l-0.5%2C0.7%20%20%20c-0.6%2C0.6-0.9%2C1.4-0.9%2C2.2c0%2C0.9%2C0.3%2C1.7%2C0.9%2C2.3l1.3%2C1.3c1.2%2C1.2%2C3.2%2C1.3%2C4.5%2C0.1l0.7-0.5c0.6%2C0.3%2C1.1%2C0.5%2C1.7%2C0.7l0.2%2C0.9%20%20%20c0.1%2C1.7%2C1.5%2C3.1%2C3.2%2C3.1h1.9c1.8%2C0%2C3.2-1.4%2C3.2-3.1l0.2-0.9c0.6-0.2%2C1.2-0.4%2C1.7-0.7l0.7%2C0.5c1.3%2C1.2%2C3.3%2C1.2%2C4.5-0.1l1.3-1.3%20%20%20c1.2-1.2%2C1.3-3.2%2C0.1-4.5L29%2C22.9c0.3-0.5%2C0.5-1.1%2C0.7-1.7l0.9-0.2c2.7-0.4%2C3.1-2.2%2C3.1-3.2v-1.9C33.7%2C14.2%2C32.6%2C13.1%2C30.6%2C12.7z%20%20%20%20M31.7%2C17.8c0%2C0.5-0.1%2C1-1.4%2C1.3l-2.2%2C0.4L27.9%2C20c-0.2%2C0.8-0.6%2C1.7-1%2C2.4L26.6%2C23l1.3%2C1.8l0.1%2C0.1c0.5%2C0.5%2C0.5%2C1.3%2C0%2C1.7L26.7%2C28%20%20%20c-0.5%2C0.5-1.3%2C0.5-1.7%2C0L23%2C26.6l-0.5%2C0.3c-0.8%2C0.4-1.6%2C0.8-2.4%2C1l-0.6%2C0.2L19%2C30.3l0%2C0.2c0%2C0.7-0.6%2C1.2-1.2%2C1.2h-1.9%20%20%20c-0.7%2C0-1.2-0.6-1.2-1.2l-0.4-2.3l-0.6-0.2c-0.9-0.2-1.7-0.6-2.4-1l-0.6-0.3l-1.8%2C1.3L8.8%2C28c-0.5%2C0.5-1.3%2C0.5-1.7%2C0l-1.3-1.3%20%20%20c-0.2-0.2-0.4-0.5-0.4-0.9s0.1-0.6%2C0.4-0.9L7.1%2C23l-0.3-0.5c-0.4-0.8-0.8-1.6-1-2.4l-0.2-0.6L3.4%2C19C2%2C18.7%2C2%2C18.3%2C2%2C17.8v-1.9%20%20%20c0-0.3%2C0-0.8%2C1.5-1.3l2.1-0.4l0.2-0.6c0.2-0.8%2C0.6-1.7%2C1-2.4L7%2C10.7L5.8%2C8.9L5.7%2C8.8C5.2%2C8.3%2C5.2%2C7.5%2C5.7%2C7L7%2C5.7%20%20%20c0.5-0.5%2C1.3-0.5%2C1.7%2C0l1.9%2C1.4l0.5-0.3c0.8-0.4%2C1.6-0.8%2C2.4-1l0.6-0.2l0.4-2.2l0-0.2c0-0.7%2C0.6-1.2%2C1.2-1.2h1.9%20%20%20C18.4%2C2%2C19%2C2.6%2C19%2C3.2l0.4%2C2.3L20%2C5.7c0.9%2C0.2%2C1.7%2C0.6%2C2.4%2C1L23%2C7.1l1.8-1.3l0.1-0.1c0.5-0.5%2C1.3-0.5%2C1.7%2C0L28%2C7%20%20%20c0.5%2C0.5%2C0.5%2C1.3%2C0%2C1.7l-1.4%2C1.9l0.3%2C0.5c0.4%2C0.8%2C0.8%2C1.6%2C1%2C2.4l0.2%2C0.6l2.1%2C0.4c1.4%2C0.3%2C1.4%2C0.8%2C1.4%2C1.3V17.8z%22%2F%3E%3Cpath%20fill%3D%22%23387bad%22%20d%3D%22M16.8%2C21.1c2.3%2C0%2C4.3-1.9%2C4.3-4.3s-1.9-4.3-4.3-4.3c-2.3%2C0-4.3%2C1.9-4.3%2C4.3S14.5%2C21.1%2C16.8%2C21.1z%20%20%20%20M16.8%2C14.6c1.2%2C0%2C2.3%2C1%2C2.3%2C2.3s-1%2C2.3-2.3%2C2.3s-2.3-1-2.3-2.3S15.6%2C14.6%2C16.8%2C14.6z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E);
    width: 51px;
    height: 51px;
    left: 61px;
    top: 96px;
}

.carousel-with-tabs {
    position: relative;
}
.carousel-with-tabs nav {
    position: relative;
    z-index: 3;
    height: 100px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
}
.carousel-with-tabs > nav .carousel-tab {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    position: relative;
    display: inline-block;
    height: 98px;
    float: left;
    padding-top: 15px;
    background-color: #f9fafa;
    text-align: center;
    -webkit-transition: color 300ms ease, background-color 300ms ease;
    -moz-transition: color 300ms ease, background-color 300ms ease;
    transition: color 300ms ease, background-color 300ms ease;
}

.carousel-with-tabs > nav .carousel-tab:after,
.carousel-with-tabs > nav .carousel-tab:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border-top: 49px solid transparent;
    border-left-width: 24px;
    border-left-style: solid;
    border-left: 24px solid #e5e5e5;
    border-bottom: 49px solid transparent;
    -webkit-transition: border-color 300ms ease;
    -moz-transition: border-color 300ms ease;
    transition: border-color 300ms ease;
}


.carousel-with-tabs > nav .carousel-tab:before {
    border-left-color: #e5e5e5;
}

.carousel-with-tabs > nav .carousel-tab:after {
    left: -1px;
    border-left-color: #f9fafa;
}

.carousel-with-tabs > nav .carousel-tab:first-child {
    padding-left: 0;
}

.carousel-with-tabs > nav .carousel-tab:first-child:before,
.carousel-with-tabs > nav .carousel-tab:first-child:after {
    display: none
}

.carousel-with-tabs > nav .carousel-tab i {
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 auto 10px;
}

.carousel-with-tabs > nav .carousel-tab {
    display: block;
    padding-top: 15px;
    height: 98px;
}

.carousel-with-tabs > nav .carousel-tab:hover {
    text-decoration: none;
}

.carousel-with-tabs > nav .carousel-tab.active {
    background: #FFFFFF;
}

.carousel-with-tabs > nav .carousel-tab.active {
    border-bottom: 1px solid #387bad;
}


.carousel-tab:focus+.carousel-tab:after,
.carousel-tab:hover+.carousel-tab:after,
.carousel-tab.active+.carousel-tab:after {
    border-left-color: #fff;
}

.carousel-with-tabs > .carousel-items {
    position: relative;
    margin-top: 2.5em;
    overflow: hidden;
}

.carousel-with-tabs > .carousel-items li {
    list-style: none;
    opacity: 0;
    z-index: 0;
    display: none;
}

.carousel-with-tabs > .carousel-items li.active {
    opacity: 1;
    z-index: 1;
    display: block;
}
.carousel-with-tabs > .carousel-items li h4 {
    -webkit-animation-delay: .5s; /* Chrome, Safari, Opera */
    animation-delay: .5s;
}
.carousel-with-tabs > .carousel-items li p {
    margin-bottom: 2.5em;
    -webkit-animation-delay: .2s; /* Chrome, Safari, Opera */
    animation-delay: .2s;
}
.carousel-with-tabs > .carousel-items li .carousel-content {
    opacity: 3;
}
.carousel-with-tabs > .carousel-items li .carousel-image {
    margin: 1.875em 0;
    vertical-align: middle;
}
.carousel-with-tabs > .prev,
.carousel-with-tabs > .next {
    content: '';
    position: absolute;
    top: 50%;
    max-width: 64px;
    min-width: 64px;
    height: 50px;
    margin-top: -25px;
    z-index: 2;
    background: #000;
    border-radius: 3px;
    padding: 16px 18px;
    overflow: hidden;
    white-space: nowrap;
    -webkit-transition: max-width 333ms;
    -moz-transition: max-width 333ms;
    transition: max-width 333ms;
    text-decoration: none;
}
.carousel-with-tabs > .prev:focus, .carousel-with-tabs > .next:focus, .carousel-with-tabs > .prev:hover, .carousel-with-tabs > .next:hover {
    max-width: 200px
}

.carousel-with-tabs > .prev:focus > span, .carousel-with-tabs > .next:focus > span, .carousel-with-tabs > .prev:hover > span, .carousel-with-tabs > .next:hover > span {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0)
}
.carousel-with-tabs > .prev > span,
.carousel-with-tabs > .next > span {
    pointer-events: none;
    display: inline-block;
    opacity: 0;
    color: #fff;
    font-size: 0.75em;
    text-transform: uppercase;
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    -webkit-transition: opacity 300ms, -webkit-transform 300ms;
    -moz-transition: opacity 300ms, -moz-transform 300ms;
    transition: opacity 300ms, transform 300ms;
}
.carousel-with-tabs > .prev:hover,
.carousel-with-tabs > .next:hover {
    text-decoration: none;
}

.carousel-with-tabs > .prev {
    display: inline-block;
    left: -250px;
}
.carousel-with-tabs > .prev > span {
    padding-left: 32px;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
}

.carousel-with-tabs > .prev:before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%2024%2011%22%3E%3Cpath%20fill=%22%23FFF%22%20d=%22M5.5%200c.1%200%20.3%200%20.4.1.1.2.1.6-.1.8L1.2%205.5l4.6%204.6c.2.2.2.5%200%20.7-.2.2-.5.2-.7%200l-5-5c-.1-.2-.1-.5%200-.7l5-5c.1-.1.3-.1.4-.1z%22/%3E%3Cpath%20fill=%22%23FFF%22%20d=%22M.5%205h23c.2%200%20.5.2.5.5s-.3.5-.5.5H.5C.2%206%200%205.8%200%205.5S.2%205%20.5%205z%22/%3E%3C/svg%3E");
    left: 18px;
}

.carousel-with-tabs > .next {
    display: inline-block;
    right: -250px;
}
.carousel-with-tabs > .next > span {
    padding-right: 32px;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
}

.carousel-with-tabs > .next:before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%2024%2011%22%3E%3Cpath%20fill=%22%23FFF%22%20d=%22M18.5%2011c-.1%200-.3%200-.4-.1-.2-.2-.2-.5%200-.7l4.6-4.6L18.1%201c-.2-.2-.2-.5%200-.7.2-.2.5-.2.7%200l5%205c.2.2.2.5%200%20.7l-5%205c-.1-.1-.2%200-.3%200z%22/%3E%3Cpath%20fill=%22%23FFF%22%20d=%22M23.5%206H.5C.2%206%200%205.8%200%205.5S.2%205%20.5%205h23c.2%200%20.5.2.5.5s-.3.5-.5.5z%22/%3E%3C/svg%3E");
    right: 18px;
}

.carousel-with-tabs > .next:before,
.carousel-with-tabs > .prev:before {
    width: 24px;
    height: 11px;
    display: block;
    position: absolute;
    top: 20px;
    content: '';
}

.icon-store {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%2040%2039%22%3E%3Cg%20fill=%22%23BCBEC0%22%3E%3Cpath%20d=%22M18%2022.5V37h-2V23H9v14H7V22.5c0-.83.67-1.5%201.5-1.5h8c.83%200%201.5.67%201.5%201.5zm-5.14-6.51V16h.06c-.02%200-.04%200-.06-.01zm14.22.01h.06v-.01c-.02.01-.04.01-.06.01zm0%200h.06v-.01c-.02.01-.04.01-.06.01zm-14.22-.01V16h.06c-.02%200-.04%200-.06-.01zm14.22.01h.06v-.01c-.02.01-.04.01-.06.01zm-14.22-.01V16h.06c-.02%200-.04%200-.06-.01zm-9.39-1.03v.22h.01c-.01-.07-.01-.15-.01-.22z%22/%3E%3Cpath%20d=%22M37%2018v19.23c0%20.98-.74%201.77-1.65%201.77H4.65C3.74%2039%203%2038.21%203%2037.23V18c.59.4%201.26.68%202%20.84V37h30V18.84c.74-.16%201.41-.44%202-.84zM3.48%2015.18h-.01v-.22c0%20.07%200%20.15.01.22z%22/%3E%3Cpath%20d=%22M23%2033h12v2H22.41c-.78%200-1.41-.72-1.41-1.61V22.61c0-.89.63-1.61%201.41-1.61H35v2H23v10z%22/%3E%3Cpath%20d=%22M35%2027v2h-5v4h-2v-4h-5v-2h5v-4h2v4M3.47%2014.96c0%20.07%200%20.15.01.22h-.01v-.22zM14.08%2014h-.01v-.03c0%20.01%200%20.02.01.03zm11.85-.03V14h-.01c.01-.01.01-.02.01-.03z%22/%3E%3Cpath%20d=%22M12.86%2015.99V16h.06c-.02%200-.04%200-.06-.01zm1.21-2.02V14h.01c-.01-.01-.01-.02-.01-.03zm11.85.03h.01v-.03c0%20.01%200%20.02-.01.03zm1.16%202h.06v-.01c-.02.01-.04.01-.06.01zm-13.01-2.03V14h.01c-.01-.01-.01-.02-.01-.03zm11.85.03h.01v-.03c0%20.01%200%20.02-.01.03z%22/%3E%3Cpath%20d=%22M37.3%201.69C36.95.68%2036%200%2034.93%200H5.07C4%200%203.05.68%202.7%201.69%201.47%205.21%200%209.77%200%2011.51c0%202.95%201.13%205.26%203%206.49.59.4%201.26.68%202%20.84.47.11.96.16%201.48.16%202.41%200%204.61-1.14%205.99-3%20.03-.03.05-.06.08-.1.05-.06.09-.13.14-.2.05.1.11.2.17.29.02.01.04.01.06.01h-.06c1.06%201.75%202.82%203%207.14%203s6.08-1.25%207.14-3h-.06c.02%200%20.04%200%20.06-.01.06-.09.12-.19.17-.29.05.07.09.14.14.2.03.04.05.07.08.1%201.38%201.86%203.59%203%205.99%203%20.52%200%201.01-.05%201.48-.16.74-.16%201.41-.44%202-.84%201.87-1.23%203-3.54%203-6.49%200-1.74-1.47-6.3-2.7-9.82zM12.12%2013.06c-.26.1-.47.29-.58.56-.05.13-.11.26-.18.38-.4.81-1%201.5-1.72%202-.9.64-2%201-3.16%201-.55%200-1.05-.08-1.48-.23-.87-.28-1.53-.83-2-1.52-.7-1.04-1-2.41-1-3.74%200-1.09.99-4.6%202.58-9.16.08-.21.27-.35.49-.35h7.85l-.8%2011.06zm13.81.94h-.01c-.33.78-.69%201.48-1.4%202-.83.62-2.16%201-4.52%201s-3.69-.38-4.52-1c-.71-.52-1.07-1.22-1.4-2h-.01v-.03L14.93%202h10.14l.86%2011.97V14zM37%2015.25c-.47.69-1.13%201.24-2%201.52-.43.15-.93.23-1.48.23-1.16%200-2.26-.36-3.16-1-.72-.5-1.32-1.19-1.72-2-.07-.12-.13-.25-.18-.38-.11-.27-.32-.46-.58-.56L27.08%202h7.85c.22%200%20.41.14.49.35C37.01%206.91%2038%2010.42%2038%2011.51c0%201.33-.3%202.7-1%203.74zM15%2029v2c0%20.55-.45%201-1%201s-1-.45-1-1v-2c0-.55.45-1%201-1s1%20.45%201%201z%22/%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
}

.icon-diamond {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%20107%20612%20577.9%22%3E%3Cpath%20fill=%22%23BCBEC0%22%20d=%22M610%20352.4l-71-122.2c1.2-.6%202.5-1.1%203.7-1.5%206.2-2.2%2010-8%2010-14.5%200-6.6-4.5-12.5-10.5-14.8-38.2-13.9-68.2-43.8-82.3-82.5-2.2-6.2-8-9.9-14.5-9.9h-.2c-6.5%200-12.3%204.3-14.5%2010.5-11.4%2031-33.5%2056.7-62.3%2072.9H106.2c-5.6%200-10.5%202.9-13.3%207.6L2.1%20352.2c-3.4%205.9-2.6%2013.4%202%2018.4L294.8%20680c2.9%203.2%206.9%204.9%2011.3%204.9%204.2%200%208.3-1.7%2011.3-4.9l290.5-309.5c4.5-4.9%205.5-12.3%202.1-18.1zM400.1%20206.6h.2c6.8-4.9%2013.3-10.3%2019.1-16.2%2010-9.7%2018.7-20.8%2026.1-32.8%207.2%2012%2016%2023.1%2026.1%2032.8%205.2%205.2%2010.8%2010%2016.7%2014.2%204.5%203.5%209.1%206.6%2013.9%209.6-3.7%202.2-7.2%204.6-10.6%207.1-18.4%2013-33.9%2029.6-45.6%2048.9l-4-5.6c0-.2-.2-.2-.2-.3-.2-.2-.2-.3-.3-.5-.2%200-.2-.2-.2-.2l-.2-.2-.3-.4-.3-.3c-.5-.6-.9-1.4-1.4-2-10.8-15.3-24.1-28.5-39.5-39.5-3.4-2.5-6.9-4.9-10.6-7.1%203.7-2.2%207.4-4.8%2011.1-7.5zm44.6%20114.8l16.8%2023.3h-45.6l20.7-26.1c2.2%201.7%205%202.6%208.1%202.8zM340%20221.3c1.9%203.4%204.9%206.3%208.8%207.7%2030.5%2011.1%2055.8%2032.5%2071.9%2060.3%203.9%206.8%207.2%2014%2010%2021.6l.3.6c.7%201.9%201.7%203.6%202.9%204.9-1.3-1.4-2.3-3-2.9-4.9l-.3-.6c-2.8-7.6-6.2-14.8-10-21.6l-33.2%2041.5-49.7-109.5h2.2zm-52%200l-60.1%20109.6-30.4-43.3%2052-66.3H288zm-88.1%20123.4h-47l24.7-31.6%2022.3%2031.6zm10.2-123.4L179%20261.2l-28.1-39.9h59.2zm-96.1%201.4l45%2064-45.3%2058H42.5l71.5-122zM51.1%20375.5h69.1L246%20583%2051.1%20375.5zm240.1%20222.4L156.3%20375.5h134.9v222.4zm-35.6-253.2l57.1-104.1%2047.2%20104.1H255.6zm66.5%2030.8h141.4L322.1%20599.7V375.5zM374.7%20574l125.1-198.5H561L374.7%20574zm124.5-229.3l-33.5-46.6c10.3-21.6%2026.2-39.9%2046-53.4l58%2099.9h-70.5v.1z%22/%3E%3C/svg%3E");
    background-repeat: no-repeat;
}

.icon-clipboard {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%2036%2040%22%3E%3Cg%20fill=%22%23BCBEC0%22%3E%3Cpath%20d=%22M22.47%206h-6.53v2H22v30H2V8h6V6H1.53C.68%206%200%206.68%200%207.53v30.94C0%2039.32.68%2040%201.53%2040h20.94c.85%200%201.53-.68%201.53-1.53V7.53C24%206.68%2023.32%206%2022.47%206z%22/%3E%3Cpath%20d=%22M13.45%200h-2.96C9.12%200%208%201.12%208%202.49v8.02C8%2011.88%209.12%2013%2010.49%2013h2.96c1.37%200%202.49-1.12%202.49-2.49V2.49c0-1.37-1.12-2.49-2.49-2.49zM14%2010.51c-.06.27-.28.49-.55.49h-2.96c-.27%200-.49-.22-.49-.49V2.49c0-.27.22-.49.49-.49h2.96c.27%200%20.49.22.55.49v8.02zM20%2019c0%20.55-.45%201-1%201h-9c-.55%200-1-.45-1-1s.45-1%201-1h9c.55%200%201%20.45%201%201zm0%206c0%20.55-.45%201-1%201h-9c-.55%200-1-.45-1-1s.45-1%201-1h9c.55%200%201%20.45%201%201zm0%206c0%20.55-.45%201-1%201h-9c-.55%200-1-.45-1-1s.45-1%201-1h9c.55%200%201%20.45%201%201zM8%2031c0%201.1-.9%202-2%202s-2-.9-2-2%20.9-2%202-2%202%20.9%202%202zm0-6c0%201.1-.9%202-2%202s-2-.9-2-2%20.9-2%202-2%202%20.9%202%202zm0-6c0%201.1-.9%202-2%202s-2-.9-2-2%20.9-2%202-2%202%20.9%202%202zm24.68%2012.39c-.26.37-.69.61-1.18.61H30c.74%200%201.38.72%201.48%201.62-.54.44-1.03.98-1.48%201.6-.45-.62-.94-1.16-1.48-1.6.1-.9.74-1.62%201.48-1.62h-1.5c-.49%200-.92-.24-1.18-.61-.51.67-.82%201.55-.82%202.5%200%20.19.01.38.04.55.01.09.02.18.04.27%201.18.67%202%201.85%202.54%202.93.63%201.25.88%202.36.88%202.36s.25-1.11.88-2.36c.54-1.08%201.36-2.26%202.54-2.93.02-.09.03-.18.04-.27.03-.17.04-.36.04-.55%200-.95-.31-1.83-.82-2.5zM31.5%202h-3c-.83%200-1.5.7-1.5%201.55V6h2V4h2v2h2V3.55C33%202.7%2032.33%202%2031.5%202zM33%208v22.45c0%20.35-.11.68-.32.94-.26.37-.69.61-1.18.61h-3c-.49%200-.92-.24-1.18-.61-.21-.26-.32-.59-.32-.94V8h2v22h2V8h2z%22/%3E%3Cpath%20d=%22M36%208.49V18c0%20.55-.45%201-1%201s-1-.45-1-1V8.49c0-.27-.22-.49-.49-.49H27c-.55%200-1-.45-1-1s.45-1%201-1h6.51C34.88%206%2036%207.12%2036%208.49z%22/%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
}

.animated.fast {
    -webkit-animation-duration: .5s; /* Chrome, Safari, Opera */
    animation-duration: .5s;
}

.login-form {
    border: 1px solid #e5e5e5;
    padding: 2.8125em;
    background: #f9fafa;
}